<!DOCTYPE html>
<html>
<head>
	<title>SensorCloud-Homepage</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body background="images/homepage1.jpg">
	<div class="row">
		<div class="col-sm-9">
			<span style="font-family: 'Copperplate Gothic Light';font-size:44px"><a href="/" style="color:#D1D0CE">Sensor Cloud</a></span> 
		</div>
		<div class="col-sm-3">
		      <a class="dropbtn" href="/login" style="font-family: 'Copperplate Gothic Light';font-size:32px;color:#D1D0CE">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		      <a class="dropbtn" href="/signup" style="font-family: 'Copperplate Gothic Light';font-size:32px;color:#D1D0CE">Signup</a>
		</div>
	</div>
	<div class="row">
		<div class="displayInTheMiddleOfScreen"><span style="font-family: 'Copperplate Gothic Light';font-size:36px;color:#D1D0CE">Wanted to know about water level,water temp and many more??<br/> <a href="/signup" style="color:#D1D0CE">signup</a> to check it out. </span></div>
	</div>
  </body>
</html>