<div ng-controller="sensorStatsController">
	<br/>
	<div class="row">
		<div class="col-sm-6">
			<table class="table table-bordered">
				<thead><tr class="active"><th>Line Chart</th></tr></thead>
			    <tbody><tr>
				<td><canvas id="lineChart" width="520" height="370"></canvas></td>
				</tr></tbody>
			</table>
		</div>
		<div class="col-sm-6">
			<table class="table table-bordered">
				<thead><tr class="active"><th>Bar Chart</th></tr></thead>
			    <tbody><tr>
				<td><canvas id="barChart" width="520" height="370"></canvas></td>
				</tr></tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<table class="table table-bordered">
				<thead><tr class="active"><th>Donut Chart</th></tr></thead>
			    <tbody><tr>
				<td><canvas id="donutChart" width="520" height="370"></canvas></td>
				</tr></tbody>
			</table>
		</div>
		<div class="col-sm-6">
			<table class="table table-bordered">
				<thead><tr class="active"><th>Radar Chart</th></tr></thead>
			    <tbody><tr>
				<td><canvas id="radarChart" width="520" height="370"></canvas></td>
				</tr></tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<table class="table table-bordered">
				<thead><tr class="active"><th>Pie Chart</th></tr></thead>
			    <tbody><tr>
				<td><canvas id="pieChart" width="520" height="370"></canvas></td>
				</tr></tbody>
			</table>
		</div>
		<div class="col-sm-6">
			<table class="table table-bordered">
				<thead><tr class="active"><th>PolarArea Chart</th></tr></thead>
			    <tbody><tr>
				<td><canvas id="polarAreaChart" width="520" height="370"></canvas></td>
				</tr></tbody>
			</table>
		</div>
	</div>
</div>