<div class="container" style="width:auto">
	<br/>
	<form>
	<div class="row">
		<a ng-click="view('manageRegisteredSensorHubs')">
			<div class="col-lg-3 col-md-6" style="width:266px;height:126">
		        <div class="panel panel-primary">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-12">
		                        <div class="huge">View My Registered Sensor hubs</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    </a>
	    <a>
		    <div class="col-lg-3 col-md-6" style="width:266px;height:126">
		        <div class="panel panel-green">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-12">
		                        <div class="huge">Register to sensor hub&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    </a>
	    <a ng-click="view('subscribeToSensorHubs')">
		    <div class="col-lg-3 col-md-6">
		        <div class="panel panel-yellow">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-12">
		                        <div class="huge">Subscribe to Sensor Hubs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    </a>
	    <a ng-click="view('viewSensors')">
		    <div class="col-lg-3 col-md-6">
		        <div class="panel panel-red">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-12">
		                        <div class="huge">View My Registered Sensors &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			                        &nbsp;</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    </a>
    </div>
	</form>
</div>