<html ng-app="sensorCloud">
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/loginPageStyles.css' />
    <script type="text/javascript" src="/js/loginPage.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.1/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.1/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.1/Chart.min.js"></script>
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/css/site.css">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-switch.css">
    <script type="text/javascript" src="/stylesheets/bootstrap-switch.js"></script>
    <!-- Controllers -->
    <script src="/angularJS/userControllers/userDashboardRouting.js"></script>
    <script src="/angularJS/userControllers/streamFlowController.js"></script>
    <script src="/angularJS/userControllers/streamHeightController.js"></script>
    <script src="/angularJS/userControllers/subscribeToSensorHubController.js"></script>
    <script src="/angularJS/userControllers/viewRegisteredSensorHubsController.js"></script>
    <script src="/angularJS/userControllers/waterLevelController.js"></script>
    <script src="/angularJS/userControllers/waterLevelController.js"></script>
    <script src="/angularJS/userControllers/waterTemperatureController.js"></script>
    <script src="/angularJS/userControllers/waveHeightController.js"></script>
    <script src="/angularJS/userControllers/windSpeedController.js"></script>
    <script src="/angularJS/userControllers/sensorStatsController.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
		   $("li a").click(function(){
			   $("li a.active").removeClass("active");
			   $(this).addClass("active");
			});
			$('.userOptions > li a').click(function() {
			    $(this).parent().find('ul').toggle();
			});
		});
    </script>
    <style>
        body{
            background:#f8f8f8;
            margin: 0;
            padding-top:0px;
            padding-bottom:0px;
            padding-left:0px;
            padding-right:0px;
        }
        .row{
            margin-left:0px;
            margin-right:0px;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: black;
            height: 100%;
            width:20%;
        }

        li a {
            display: block;
            color: white;
            padding: 8px 0 8px 16px;
            text-decoration: none;
        }
        li a.active {
            background-color: #810541;
            color: white;
        }
        /* Change the link color on hover */
        li a:hover {
            background-color: #810541;
            color: white;
            text-decoration:none;
        }
        li ul li a:hover {
            background-color: #810541;
            color: white;
            text-decoration:none;
        }
        /* Search box styles*/
        .stylish-input-group .input-group-addon{
		    background: white !important; 
		}
		.stylish-input-group .form-control{
			border-right:0; 
			box-shadow:0 0 0; 
			border-color:#ccc;
		}
		.stylish-input-group button{
		    border:0;
		    background:transparent;
		}
		.huge {
		    font-size: 20px;
		}
		.panel-green .panel-heading {
		    border-color: #5cb85c;
		    color: #fff;
		    background-color: #5cb85c;
		}
		.panel-yellow .panel-heading {
		    border-color: #f0ad4e;
		    color: #fff;
		    background-color: #f0ad4e;
		}
		.panel-red .panel-heading {
		    border-color: #d9534f;
		    color: #fff;
		    background-color: #d9534f;
		}
		ul li ul {
		    display: none;
		} 
		.panel-green {
		    border-color: #5cb85c;
		}
		label{
			font-weight:normal;
		}
    </style>
</head>
<body ng-controller="customerCtrl">
	<div class="row" style="height:70px;background-color:black;">
		<div class="col-sm-11">
	    <p style="font-size:32px;margin-top:12px;color:white">&nbsp;Sensor Management Console</p>
	     </div>
	    <div class="col-sm-1">
	    <p style="align:right;margin-top:15px;">
	    <a style="align:right;margin-top:15px;font-size:24px;color:white" href="/signout">SignOut</a></p>
	    </div>
	    <br/>
	</div>
	<div class="row">
		<div class="col-sm-2" style="padding-left: 0px;padding-right: 0px;">
		<div class="input-group stylish-input-group" style="width: 220px;">
            <input type="text" class="form-control"  placeholder="Search" >
            <span class="input-group-addon">
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>  
            </span>
        </div>
	    <ul style="width:220px;" class="userOptions">
	        <li><a class="active" ui-sref="userDashboard"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Dashboard</a></li>
	        <li><a ui-sref="sensorStats"><i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i>&nbsp; Sensor Statistics</a></li>
	        <li><a ui-sref="profile"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Profile</a></li>
	        <li><a><i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i>&nbsp; Sensor Provider<i class="fa fa-angle-down fa-fw" aria-hidden="true"></i></a>
	        	<ul style="width:220px;">
	        		<li><a ui-sref="streamFlow">&nbsp; &nbsp; &nbsp; <i class="fa fa-area-chart fa-fw" aria-hidden="true"></i>&nbsp; Stream Flow</a></li>
	        		<li><a ui-sref="streamHeight">&nbsp; &nbsp; &nbsp; <i class="fa fa-line-chart fa-fw" aria-hidden="true"></i>&nbsp; Stream Height</a></li>
	        		<li><a ui-sref="waterLevel">&nbsp; &nbsp; &nbsp; <i class="fa fa-pie-chart fa-fw" aria-hidden="true"></i>&nbsp; Water Level</a></li>
	        		<li><a ui-sref="waterTemperature">&nbsp; &nbsp; &nbsp; <i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i>&nbsp; Water Temperature</a></li>
	        		<li><a ui-sref="waveHeight">&nbsp; &nbsp; &nbsp; <i class="fa fa-line-chart fa-fw" aria-hidden="true"></i>&nbsp; Wave Height</a></li>
	        		<li><a ui-sref="windSpeed">&nbsp; &nbsp; &nbsp; <i class="fa fa-pie-chart fa-fw" aria-hidden="true"></i>&nbsp; Wind Speed</a></li>
	        	</ul>
	        </li>
	    </ul>
	    </div>
	    <div class="col-sm-10">
	    <div ui-view></div>
	    </div>
	<div>
</body>
</html>