<div class="container" style="width:auto">
	<br/>
	<form>
	<div class="row">
		<a ng-click="view()">
			<div class="col-lg-3 col-md-6">
		        <div class="panel panel-primary">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-3">
		                        <i class="fa fa-comments fa-5x"></i>
		                    </div>
		                    <div class="col-xs-9 text-right">
		                        <div class="huge">View My Registered Sensors</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    </a>
	    <a href="/manageRegisteredSensors">
		    <div class="col-lg-3 col-md-6">
		        <div class="panel panel-green">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-3">
		                        <i class="fa fa-comments fa-5x"></i>
		                    </div>
		                    <div class="col-xs-9 text-right">
		                        <div class="huge">Manage my Registered Sensors</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    </a>
	    <a href="/subscribeToRegisteredSensors">
		    <div class="col-lg-3 col-md-6">
		        <div class="panel panel-yellow">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-3">
		                        <i class="fa fa-comments fa-5x"></i>
		                    </div>
		                    <div class="col-xs-9 text-right">
		                        <div class="huge">Subscribe to Registered Sensors</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    </a>
	    <div class="col-lg-3 col-md-6">
	        <div class="panel panel-red">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-comments fa-5x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">View My Registered Sensors</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
	</form>
</div>