<div class="container" style="width:auto">
	<br/>
	<form>
	<div class="row">
		<a ng-click="view('addSensor')">
			<div class="col-lg-3 col-md-6">
		        <div class="panel panel-primary">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-3">
		                        <i class="fa fa-comments fa-5x"></i>
		                    </div>
		                    <div class="col-xs-9 text-right">
		                        <div class="huge">Add New Sensor</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    </a>
	    <a ng-click="view('addSensorHub')">
		    <div class="col-lg-3 col-md-6">
		        <div class="panel panel-green">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-3">
		                        <i class="fa fa-comments fa-5x"></i>
		                    </div>
		                    <div class="col-xs-9 text-right">
		                        <div class="huge">Add Sensor Hub</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    </a>
	    <a ng-click="view('manageSensorHub')">
		    <div class="col-lg-3 col-md-6">
		        <div class="panel panel-yellow">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-3">
		                        <i class="fa fa-comments fa-5x"></i>
		                    </div>
		                    <div class="col-xs-9 text-right">
		                        <div class="huge">Manage Sensor Hubs</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
	    </a>
	    <a ng-click="view('manageSensor')">
		    <div class="col-lg-3 col-md-6">
		        <div class="panel panel-red">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-3">
		                        <i class="fa fa-comments fa-5x"></i>
		                    </div>
		                    <div class="col-xs-9 text-right">
		                        <div class="huge">Manage Sensor</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</a>
    </div>
	</form>
</div>